Package: dpkg-git
Version: 1.1
Section: admin
Priority: optional
Architecture: all
Essential: no
Depends: git-core
Installed-Size: 20
Maintainer: Robert McLeod <robert.mcleod@itpeople.co.nz>
Homepage: <none>
Description: Installs a debian package from a git source repo
  * clones the repo
  * deletes the .git stuff
  * clears the root folder
  * builds a package from it
  * installs the package
